<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/en/about">About me</a></li>
					<li><a href="/en/cv">Curriculum Vitae</a></li>
					<li><a href="/en/publications">Academic Publications</a></li>
				</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<div class="footer-div-container">
					<div class="footer-div">
						<span class="footer-title">Research Related</span>
							<ul>
								<li><a href="https://orcid.org/0000-0002-6437-0866">ORCID</a></li>
							<li><a href="https://www.researchgate.net/profile/Elisa_Aleman_Carreon">ResearchGate</a></li>
							<li><a href="http://www.researcherid.com/rid/O-7561-2018">ResearcherID</a></li>
							<li><a href="https://publons.com/a/1547646">Publons</a></li>
							<li><a href="https://www.mendeley.com/profiles/elisa-alemn-carren/">Mendeley</a></li>
							<li><a href="https://github.com/ellie-icekler">GitHub</a></li>
						</ul>
					</div>
					<div class="footer-div">
						<span class="footer-title">Navigation</span>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/en/about">About me</a></li>
							<li><a href="/en/cv">Curriculum Vitae</a></li>
							<li><a href="/en/publications">Academic Publications</a></li>
						</ul>
					</div>
					<div class="footer-div">
						<span class="footer-title">Languages</span>
						<ul>
							<li><a href="/">English</a></li>
							<li><a href="/es">Español</a></li>
							<li><a href="/jp">日本語</a></li>
						</ul>
					</div>
				</div>
			</footer>
		</body>
	</html>
